{% extends 'base.html.twig' %}

{% block title %}Liste des acteurs{% endblock %}

{% block body %}
<table>
{% for a in actors  %}
<tr>
<td><img src="{{ asset('images/' ~ a.image ) }}" ></td>
<td>
    <a href="{{ 
        path('afficheactor', {'id': a.id } )
    }}">
    {{ a.nom }}
    </a>
    
    </td>
<td>{{ a.prenom }}</td>
</tr>
{% endfor %}
<table>

{# {% for (movie in actor.movies ) %}
    <h1>{{ movies.titre }}</h1>
{% endfor %} #}

{% endblock %}
